
        
        <div class="border shadow-md rounded-lg  h-64 grid-cols-1   ">
            <div class="flex justify-start items-center p-4">
                <div class="border-2 border-purple-300 rounded-full w-14 h-14 flex items-center justify-center ml-auto">
                    <svg class="w-8 h-8 text-purple-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M11.782 5.72a4.773 4.773 0 0 0-4.8 4.173 3.43 3.43 0 0 1 2.741-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.934-2.865 3.137-3.921-.969 1.379-2.44 2.207-4.259 1.231-1.253-.673-2.19-3.438-5.959-3.318ZM6.8 11.979A4.772 4.772 0 0 0 2 16.151a3.431 3.431 0 0 1 2.745-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.933-2.865 3.137-3.921-.97 1.379-2.44 2.208-4.259 1.231-1.253-.673-2.19-3.443-5.963-3.317Z"/>
                    </svg>
                </div>
                <div class="flex -space-x-4 rtl:space-x-reverse">
                    <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/1.jpg" alt="">
                    <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/2.jpg" alt="">
                    <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/3.jpg" alt="">
                </div>
            </div>
            <p class="text-lg font-semibold pt-8 pr-4 font-vazirFont">  محبوبیت مشتریان </p>
            <h6 class="text-sm font-medium pt-2 pr-4 text-gray-500 font-vazirFont"> مشتری ماه</h6>
            <div class="flex items-center justify-start font-vazirFont mt-8">
                <p class="text-sm  pt-4 pr-4"> مرور محصولات </p>
                <svg class="w-4 h-4 text-gray-500 mt-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                  </svg> 
            </div>
        </div>