<div class="container xl:max-w-screen-xl p-4 mb-20">

    <div class="w-full h-10 mb-4 font-vazirFont pb-40 lg:pb-8 lg:flex items-center justify-center mt-10  ">
        <div class="mb-4 lg:mb-0 text-my-color-100">گزارش عمومی</div>

        <div class="mr-auto flex gap-2 p-2 mb-4 lg:mb-0 rounded-lg border  border-gray-400 justify-center items-center opacity-70 ">
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
            </svg>
            <p class="text-gray-800 ">تاریخ سفارشی</p>
            <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>
        </div>

        <div class="flex gap-2 p-2 mb-4 lg:mb-0 lg:mr-4 rounded-lg justify-center items-center opacity-70 border border-gray-400 ">
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
            </svg>
            <p class="text-gray-800 "> 12 شهریور 1403</p>
        </div>
    </div>





<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        
        <thead class="text-xs text-gray-700  bg-gray-50 font-vazirFont text-center ">
            <tr>
                <th class="w-14">ردیف</th>
                <th scope="col" class="px-6 py-3 w-64">  شماره فاکتور </th>
                <th scope="col" class="px-6 py-3 w-44"> نام مشتری </th>
                <th scope="col" class="px-6 py-3 w-40 "> اقلام سفارش داده </th>
                <th scope="col" class="px-6 py-3 w-40"> وضعیت </th>
                <th scope="col" class="px-6 py-3 w-40"> تاریخ </th>
                <th scope="col" class="px-6 py-3 w-14 "> ... </th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-xs text-gray-700  bg-gray-50 font-vazirFont text-center ">
                <th scope="row" class="px-6 py-4 w-14"> 1 </th>
                <td class="px-6 py-4  w-64">   IVR/20240301/VIII/IX/2482080398  </td>
                <td class="px-6 py-4  w-44"> سعید پیرزاد </td>
                <td class="px-6 py-4  w-40  ">لبتاپ</td>
                <td class="px-6 py-4  w-40">برگشتی </td>
                <td class="px-6 py-4  w-40">سشنبه 16 شهریور </td>
                <td class="px-6 py-4  w-14 ">... </td>
            </tr>

            <tr class="text-xs text-gray-700  bg-gray-50 font-vazirFont text-center ">
                <th scope="row" class="px-6 py-4 w-14"> 2 </th>
                <td class="px-6 py-4  w-44"> IVR/20240301/II/II/8223863079  </td>
                <td class="px-6 py-4  w-44"> فرهاد عمرانی   </td>
                <td class="px-6 py-4  w-40  ">موبایل S23</td>
                <td class="px-6 py-4  w-40">تحویل شد </td>
                <td class="px-6 py-4  w-40">شنبه 1 شهریور </td>
                <td class="px-6 py-4  w-14 ">... </td>
            </tr>
        </tbody>
    </table>
</div>





</div>