<div class="border shadow-md rounded-lg  h-64 col-span-1 ">
    <div class="flex justify-start items-center p-4">
        <div class="border-2 border-purple-300 rounded-full w-14 h-14 flex items-center justify-center ml-auto">
            <svg class="w-6 h-6 text-purple-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"/>
            </svg>
        </div>
        <div class="flex -space-x-4 rtl:space-x-reverse">
            <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/1.jpg" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/2.jpg" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="../../../assets/images/avatars/3.jpg" alt="">
        </div>
    </div>
    <p class="text-lg font-semibold pt-8 pr-4 font-vazirFont"> بالا 5 دسته بندی ها</p>
    <h6 class="text-sm font-medium pt-2 pr-4 text-gray-500 font-vazirFont"> محصولات محبوب</h6>
    <div class="flex items-center justify-start font-vazirFont mt-8">
        <p class="text-sm  pt-4 pr-4"> مرور دسته بندی ها </p>
        <svg class="w-4 h-4 text-gray-500 mt-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
          </svg> 
    </div>
</div>