/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Myfont" ;
    src: url("assets/fonts/Vazirmatn-VariableFont_wght.ttf") format(opentype)
}



.Activate {
    color : 'red';
    background-color: #eee;
    font-weight: bold;
}


.scrollSidebar {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
    scroll-behavior: smooth;
  }