<div class=" sticky top-4" [ngClass]="variable ? 'z-20 ' : '' " >

<div class="h-4 w-full backdrop-blur-md fixed top-0 transition-all  delay-150 ease-in-out duration-1000 "
     [ngClass]="variable ? ' backdrop-blur-md ' : '' ">
</div>

<nav  class="transition-all ease-in-out  duration-1000 h-96 text-white delay-1000  "
      [ngClass]="variable ? '' : '   shadow-gray-500 shadow-xs  ' "  >

    <div class=" container xl:max-w-screen-xl font-vazirFont flex p-4 transition-all ease-in-out  duration-1000 delay-200  " 
         [ngClass]="variable ? '   shadow-gray-500 shadow-md rounded-lg bg-gradient-to-r from-center-color to-right-color ' : '' " > 

        <div class="flex  xl:hidden ">
            <button class="text-white   font-medium rounded-lg text-sm px-5 py-2.5 " type="button"  
                    data-drawer-target="drawer-navigation"  data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                    <svg class="w-5 h-5 text-gray-300 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z"/>
                    </svg>
            </button>
         </div>

        <nav class="hidden xl:flex ml-20" aria-label="Breadcrumb text-my-color-100">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-sm font-medium  ">اپلیکیشن </a>
                </li>
                <li>
                    <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a href="#" class="ms-1 text-sm font-medium ">داشبوردها</a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3  mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-400 md:ms-2">آنالیزها</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class=" hidden xl:flex ml-auto px-2 rounded-lg justify-center items-center opacity-50 bg-current">
            <svg class="w-6 h-6 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
            <input type="text" placeholder="جستجوی سریع ..."  class="block w-96 p-2 h-8 outline-none text-black border-none ">
        </div>

        <div class=" flex   px-2   rounded-lg xl:hidden justify-center items-center ml-auto">
            <svg class="w-6 h-6 text-gray-300 hover:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
        </div>


        <div class="flex">
            <button type="button" class="text-gray-100   focus:outline-none  font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ">
                <svg class="w-5 h-5 text-gray-300 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z"/>
                </svg>
            </button>



            <button type="button" class="text-gray-100   focus:outline-none  font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ">
                <svg class="w-5 h-5 text-gray-300 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"/>
                  </svg>
                  
            </button>


            <button type="button" class="text-gray-100   focus:outline-none  font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ">
                <svg class="w-5 h-5 text-gray-300 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z"/>
                  </svg>
                  
                  
            </button>

            <img class="w-10 h-10 rounded-full border-4 border-gray-600" src="https://tailwise.ir/dist/images/users/user1-50x50.jpg" alt="Rounded avatar">
        </div>






      

    </div>

 
</nav >
</div>